@import url('../../../assets/styles/util.less');

@headerHeight: 112px;

.pc( {
        header {
            display: flex !important;
            background-color: #fbfbfb;
            justify-content: space-between;
            border: 1px solid @borderColor1;
            height: @headerHeight;
            padding: 0 40px;
            top: 0px;
            left: 0;
            right: 0;
            position: fixed;
            z-index: 100;

            .logo {
                display: flex;
                align-items: center;

                img {
                    height: 30px;
                    object-fit: contain;
                }

                h1 {
                    font-style: normal;
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 28px;
                    letter-spacing: 0.02em;
                    color: #000000;
                    margin-left: 10px;
                }
            }

            .actions {
                display: flex;
                align-items: center;
                margin-right: 40px;

                .btn-common.btn-create {
                    height: 48px;
                    width: 190px;
                    border-radius: 10px;
                    margin-left: 8px;
                }
            }
        }
    }

);
