.current-vote-results {
    background: #ffffff;
    border-radius: 24px;
    padding: 32px;
    .title {
        
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        /* identical to box height */

        /* Navy Blue */

        color: #22304a;
        margin-bottom: 24px;
    }
    .vote-item {
        width: 100%;
        margin-bottom: 25px;
    }
    .btn-view-all {
        margin: 0 auto;
    }
}
