.container {
    padding: 32px 80px;
    max-width: 1320px;
    .btn-back {
        background: #ffffff;
        border: 1px solid #3898fc;
        box-shadow: inset 0px -1px 1px rgba(85, 102, 123, 0.4);
        border-radius: 8px;
        width: 120px;
        height: 48px;
        margin-bottom: 24px;
        color: inherit;
    }
    .title {
        margin-bottom: 15px;
        
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        /* identical to box height */

        /* Navy Blue */

        color: #22304a;
    }
    .form {
    }
}
