.status {
    // background: #ffeaea;
    border: 2px solid #ffffff;
    border-radius: 4px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    padding: 0 10px;
    height: 32px;
    .dot {
        display: block;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        margin-right: 7px;
    }
    .text {
        
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
    }
}
.soon {
    background: #d5edff;
    .dot {
        background-color: #3898fc;
    }
    .text {
        color: #3898fc;
    }
}
.success {
    background: #30D62C;
    .dot {
        background-color: #FFF;
    }
    .text {
        color: #FFF;
    }
}
.closed {
    background: #E5E5E5;
    .dot {
        background-color: #808191;
    }
    .text {
        color: #808191;
    }
}
.open {
    background: #defde3;
    .dot {
        background-color: #30d62c;
    }
    .text {
        color: #30d62c;
    }
}
