.vote-details {
    background: #ffffff;
    border-radius: 24px;
    padding: 32px;
    .title {
        
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        color: #22304a;
        margin-bottom: 21px;
    }
}
.vote-list {
    .vote-item {
        margin-bottom: 24px;
        border: 1px solid #E4E4E4;
        border-radius: 12px;
        padding: 10px 32px;
        &:last-child {
            margin-bottom: 0;
        }
        .vote-data-container {
            width: 100%;
            justify-content: space-between;
            align-items: flex-end;
            .vote-desc {
                
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 18px;

                color: #22304a;
                max-width: 507px;
                margin-bottom: 12px;
            }
            .vote-data {
                font-weight: 600;
                font-size: 13px;
                line-height: 21px;
                min-width: 80px;
                color: #808191;
                display: flex;
                p {
                    text-align: right;
                }
            }
        }
    }
    .btn-view-all {
        height: 48px;
        margin: 0 auto;
    }
}
